/* =========================
   NOTEBOOK DARK THEME
========================= */

body {
    background-color: #0f172a !important;
    color: #e2e8f0 !important;
}

.jp-Notebook {
    background-color: #0f172a !important;
}

.jp-Cell {
    background-color: #1e293b !important;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.jp-InputArea {
    background-color: #111827 !important;
}

.jp-OutputArea {
    background-color: #1e293b !important;
}

pre {
    background-color: #111827 !important;
    color: #e2e8f0 !important;
}

code {
    background-color: #111827 !important;
    color: #38bdf8 !important;
}

a {
    color: #38bdf8 !important;
}

h1, h2, h3 {
    color: #f8fafc !important;
}
